.container{
    margin: 45px 60px;
}
.container p{
    line-height: 30px;
}
.container input[type="checkbox"]{
    display: none;
}
.container > h2 {
    cursor: pointer;
}
.opened, .closed{
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.closed{
    max-height: 0rem;
    opacity: 0;
    overflow: hidden;
}
.opened{
    max-height: 16rem;
    opacity: 1;
}
.headingContainer{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.headingContainer h2{
    font-size: 18px;
}
.headingContainer span{
    margin-left: auto;
    font-weight: 600;
    font-size: 20px;
    margin-top: -5px;
}
.openedArrow, .closedArrow{
    transition: all .2s linear;
}
.openedArrow{
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.closedArrow{
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

@media screen and (min-width:768px) {
    .container{
        margin: 45px 80px;
    } 
    .opened{
        max-height: 10rem;
        opacity: 1;
    }
    .headingContainer span{
        margin-top: 0px;
    }
}