:root{
  --primary-color: #6D3DF5;
  --primary-hover: #6539df;
  --light-gray: #dfdfdf;
  --black: #000000;
  --white: #ffffff;
  --gray: #808080;
}
*{box-sizing: border-box;}
body{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}
a{
  text-decoration: none;
}
.home{
  margin-top: 150px;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  padding: 20px;
}