.container{
    width: 100%;
    padding: 50px 50px;
}
.imgContainer{
    display: flex;
    flex-direction: column;
}
.eachImg{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.eachImg > p{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}
.img{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px auto;
    height: 300px;
    overflow: hidden;
    box-shadow: 1px 1px 5px 1px var(--light-gray);
}
.img > img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: transform .3s cubic-bezier(0.215, 0.610, 0.355, 1);
    -webkit-transition: transform .3s cubic-bezier(0.215, 0.610, 0.355, 1);
    -o-transition: transform .3s cubic-bezier(0.215, 0.610, 0.355, 1);
    -moz-transition: transform .3s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.img:hover > img{
    transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
.img > p{
    text-align: center;
    font-weight: 500;
    padding: 5px 0;
}
.heading{
    font-size: 36px;
    text-align: center;
    font-weight: 600;
    color: var(--primary-color)
}

@media screen and (min-width:768px) {
    .imgContainer{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .img > img{
        width: 100%;
    }
}