.container{
    width: 100%;
    margin: 50px 0;
}
.imgContainer{
    display: flex;
    flex-direction: column;
}
.img{
    width: 80%;
    margin: 10px auto;
    height: 300px;
    overflow: hidden;
    box-shadow: 1px 1px 5px 1px var(--light-gray);
}
.img > img{
    width: 100%;
    object-fit: cover;
    transform: scale(1.1);
    border-radius: 10px;
    transition: transform .3s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.img:hover > img{
    transform: scale(1.2);
}
.heading{
    font-size: 28px;
    text-align: center;
    font-weight: 600;
}

@media screen and (min-width:768px) {
    .imgContainer{
        flex-direction: row;
        justify-content: space-evenly;
        .img{
            width: 20%;
            margin: 0;
        }
        .img > img{
            width: 100%;
        }
    }
}